#loginBody{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-grow:1;
}

#login{
    margin:2vh 0px 0px 0px;    
    display:flex;
    justify-content:center;
    align-items:center;
}

#login > div{
    width:40vw;
    border:2px double black;
}

h1{
    text-align:center;
}

#login > div{
    position:relative;
}

#login > div > div:nth-of-type(1){
    margin-bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

#login > div >div:nth-of-type(2){
    display:none;
    position:absolute;
    top:0px;
    right:0px;
}

#login > div > div > div{
    width:100%;
    display:flex;
    justify-content:center;
}